# Managed by Ansible - Redis hardening for CloudPanel
bind {{ redis_bind_address }}
protected-mode yes
port 6379
tcp-backlog 511
timeout 0
tcp-keepalive 300
daemonize no
supervised systemd
logfile ""
databases 16
save 900 1
save 300 10
save 60 10000
dir /var/lib/redis
maxmemory {{ redis_maxmemory_mb | int }}mb
maxmemory-policy allkeys-lru
appendonly no
appendfsync everysec
no-appendfsync-on-rewrite yes
# Configure a password if you plan to expose Redis beyond localhost.
